*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html{
    width: 100%;
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
}

video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nenmo{
    background-color: black;
    opacity: 0.2;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.form{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formdangnhapdangky{
    width: 350px;
}

.formdangnhapdangky p{
    text-align: center;
    color: white;
    padding: 50px 0;
    font-size: 25px;
    font-weight: 500;
}

.formdangnhapdangky input[type=email]{
    padding: 13px 50px 13px 13px;
    width: 308px;
    background-color: transparent;
    outline: none;
    border: solid 1px rgb(234, 96, 96);
    border-radius: 5px;
    margin: 25px 0 10px;
    font-size: 20px;
    box-shadow: rgb(234, 96, 96) 5px 5px 5px;
    color: #ccc;
    display: block;
}

.formdangnhapdangky input[type=email]::placeholder{
    color: #ccc;
}

.formdangnhapdangky input[type=password]{
    padding: 13px 50px 13px 13px;
    width: 308px;
    background-color: transparent;
    outline: none;
    border: solid 1px rgb(234, 96, 96);
    margin: 25px 0 10px;
    border-radius: 5px;
    box-shadow: rgb(234, 96, 96) 5px 5px 5px;
    font-size: 20px;
    color: #ccc;
    display: block;
}

.formdangnhapdangky input[type=password]::placeholder{
    color: #ccc;
}

.formdangnhapdangky input[type=submit]{
    margin: 50px 0;
    margin-left: calc(50% - 60px);
    padding: 10px 0;
    width: 120px;
    border-radius: 5px;
    border: solid 1px white;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    background-color: rgb(234, 96, 96);
}

.formdangnhapdangky input[type=submit]:hover{
    background-color: rgb(158, 65, 65);
    transition: 0.4s;
    cursor: pointer;
}

.icon1{
    color: rgb(234, 96, 96);
    display: inline-block;
    position: relative;
    transform: translateX(-30px);
    font-size: 14px;
}

.icon2{
    color: rgb(234, 96, 96);
    display: inline-block;
    position: relative;
    transform: translateX(-30px);
    font-size: 14px;

}

.loiEmailDangNhap span{
    color: rgb(226, 30, 30);
    font-weight: 500;
}

.loiPasswordDangNhap span{
    color: rgb(226, 30, 30);
    font-weight: 500;
}

.loiEmailDangKy span{
    color: rgb(226, 30, 30);
    font-weight: 500;
}

.loiPasswordDangKy span{
    color: rgb(226, 30, 30);
    font-weight: 500;
}

.loiCfPasswordDangNhap span{
    color: rgb(226, 30, 30);
    font-weight: 500;
}

.trangchu{
    position: absolute;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 30px;
    top: 20px;
    left: 20px;
    transition: 0.4s;
    color: white;
}

.trangchu:hover{
    color: rgb(234, 96, 96);
    transition: 0.4s;
    cursor: pointer;
}

.dangnhapdangky{
    background-color: white;
    position: absolute;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    top: 30px;
    right: 20px;
    color: rgb(234, 96, 96);
    transition: 0.4s;
}

.dangnhapdangky:hover{
    background-color: rgb(234, 96, 96);
    color: white;
    transition: 0.4s;
    cursor: pointer;
} 



/* CSS cho JS */
.hidden{
    opacity: 0;
    visibility: hidden;
}

.none{
    opacity: 0;
    visibility: hidden;
}

/* Responsive */
@media screen and (max-width:720px)
{
    .formdangnhapdangky input[type=email],
    .formdangnhapdangky input[type=password]{
        width: 300px;
    }
}
@media screen and (max-width:414px){
    .formdangnhapdangky {
        width: 280px;
        margin-left: 10%;
    }

    .formdangnhapdangky input[type=email],
    .formdangnhapdangky input[type=password]{
        width: 250px;
    }
}

@media screen and (max-width:320px){
    .formdangnhapdangky {
        width: 230px;
    }

    .formdangnhapdangky input[type=email]{
        width: 200px;
    }

    .formdangnhapdangky input[type=password]{
        width: 200px;
    }

    .formdangnhapdangky p{
        padding: 50px 0 0;
        margin-top: 10px;
        margin-right: 10%;
    }

    .formdangnhapdangky input[type=submit] {
        margin: 20px 0 20px 40px;
        
    }
}